{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="row">

    <div class="col-md-6">
  		<div class="content-box-large">
		  	<div class="panel-heading">
				<div class="panel-title">Collaborateurs enregistrés</div>
							
                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                        <!--<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                        -->
                    </div>
                </div><!--fin title-->
		  		<div class="panel-body">
		  			<table class="table">
				        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom complet</th>
                                <th>Adresse mail</th>
                            </tr>
                        </thead>
				        <tbody>
                            {% for user in alluser %}
				            <tr class="success">
                                <td>{{ user.usersId }}</td>
                                <td>{{ user.name }} {{ user.firstname }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
				            {% endfor %}    
				        </tbody>
				    </table>
		  		</div><!--fin panel body-->
		  	</div>
  	    </div><!--fin content box-->
    </div><!--fin col md 6-->
</div>
{% endblock %}
