<div class="panel panel-success">

    <div class="panel-body">
        <form id="ajoutcat" method="POST" action="#">
            <div class="form-group row">
                <label class="col-md-3 control-label" for="date_publication">Catégorie :</label>
                <div class="col-md-8">
                    <input class="form-control" id="categorie" name="categorie" type="texte" class="form-control" value="{{ cat.getCatLibelle }}">
                    <input type="hidden" name="id_cat" id="id_cat" value="{{ cat.getCatId }}">
                </div>
            </div><!--fin div cat-->

        </form>

    </div><!--fin panelbody-->
</div><!--fin panel success-->



